body{
    min-width: 1024px;
    font-size: 0.16rem;
    font-family: "Microsoft Yahei";
    background-color: #f3f3f3;
}
div, form, input, li{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
input:focus, textarea:focus{
    outline: none;
}
ul, p{
    padding: 0;
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.container{
    border: 1px solid #ccc;
    background-color: #fff;
}
.container-2{
    width: 10.24rem;
    margin: 0 auto;
}

.modal-container{
    display: none;
}
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #000;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.modal{
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-content{
    margin: 100px auto 0;
    width: 6.9rem;
}

.modal-login{
    position: relative;
    margin: 0 auto;
    width: 6.9rem;
    height: 4.4rem;
    background: url("../img/login_box_bg.png") no-repeat;
    background-size: 100% 100%;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login_box_bg.png',sizingMethod='scale');*/
}
.login{
    position: absolute;
    left: 3.8rem;
    top: -0.2rem;
    width: 2.9rem;
    background-color: #fff;
    border-radius: 5px;
    /*background: url("../img/login_box_left.png") no-repeat;*/
    /*background-size: 100% 100%;*/
}
.login-form{
    padding: 0 0.25rem;
}
.login-form > * {
    height: 0.4rem;
    margin-top: 0.2rem;
}
.login-form > h3{
    margin: 0.3rem 0 0 0;
    font-size: 0.2rem;
    font-weight: bold;
    color: #000;
    text-align: center
}
.login-form > input{
    width: 2.4rem;
    padding-left: 0.4rem;
    line-height: 0.4rem;
    border: none;
    background-size: 100% 100%;
}
.login-form > .login-user{
    margin-top: 0.1rem;
}
.login-user{
    background: url("../img/login_user.png") no-repeat;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login_user.png',sizingMethod='scale');*/
}
.login-pwd{
    background: url("../img/login_pasw.png") no-repeat;
}
.login-valid-num{
    background: url("../img/login_rpasw.png") no-repeat;
}
.login-valid-img{
    width: 1.126rem;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}
.login-change-valid-num{
    color: #0099ff;
    cursor: pointer;
}
.login-sign{
    float: right;
    cursor: pointer;
}
.login-submit{
    width: 2.4rem;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #333;
}
.login-submit:hover{
    background-color: #ffcc33;
}
.login > h4{
    margin-bottom: 0;
    color: #999;
    line-height: 0.4rem;
    text-align: center;
    background-color: #f3f3f3;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-top{
    margin: 0 auto;
    width: 10.24rem;
}
.header-logo{
    float: left;
    margin: 0.24rem 0 0.3rem 0.09rem;
    width: 2.43rem;
    height: 0.71rem;
}
.header-right{
    float: right;
    margin: 0.28rem 0.09rem 0 0;
}
.header-sign{
    text-align: right;
    color: #999;
    cursor: pointer;
}
.header-search{
    margin-top: 0.1rem;
}
.header-search > input{
    height: 0.358rem;
    line-height: 0.358rem;
    width: 1.95rem;
    border: none;
    vertical-align: middle;
    text-indent: 0.14rem;
    background: url("../img/search_input.png") no-repeat;
    background-size: 100% 100%;
}
.header-search > button{
    height: 0.358rem;
    width: 0.447rem;
    border: none;
    vertical-align: middle;
    background-size: 100% 100%;
}
.header-search-off{
    background: url("../img/search_off.png") no-repeat;
}
.header-search-on{
    background: url("../img/search_on.png") no-repeat;
}
.header-nav-container{
    background-color: #17a43b;
}
.header-nav{
    margin: 0 auto;
    width: 10.24rem;
}
.header-nav-list{
    list-style: none;
    cursor: pointer;
}
.header-nav-item{
    float: left;
    width: 14.2587%;
    height: 0.536rem;
    border-right: 1px solid #33cc66;
    line-height: 0.536rem;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 0.18rem;
}
.header-nav-item-active{
    background-color: #33cc66;
}

.not-index-banner{
    margin: 0 auto;
    width: 10.24rem;
    height: 2rem;
}
.not-index-banner img{
    width: 100%;
    height: 100%;
}

.crumbs{
    margin: 0.12rem auto;
    width: 10.24rem;
    font-size: 0.14rem;
    color: #999;
}

.footer{
    margin-top: 0.4rem;
    background-color: #666;
    text-align: center;
    color: #fff;
}
.footer-row1{
    display: inline-block;
}
.footer-row1 div{
    float: left;
}
.account{
    margin-top: 0.5rem;
    vertical-align: middle;
}
.account i{
    display: inline-block;
    margin-right: 0.16rem;
    width: 0.36rem;
    height: 0.36rem;
    vertical-align: middle;
}
.account span {
    vertical-align: middle;
}
.tel1{
    background: url("../img/foot_01.png") no-repeat;
    background-size: 100% 100%;
}
.tel2{
    background: url("../img/foot_02.png") no-repeat;
    background-size: 100% 100%;
}
.email{
    background: url("../img/foot_03.png") no-repeat;
    background-size: 100% 100%;
}
.weixin{
    margin: 0.17rem 0.16rem 0 0.16rem;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.weixin-content{
    margin: 0 0.7rem;
}
.weixin-img{
    width: 0.8rem;
    height: 0.8rem;
}
.address{
    background: url("../img/foot_04.png") no-repeat;
    background-size: 100% 100%;
}
.footer-row2{
    margin-top: 0.22rem;
    text-align: center;
    font-size: 0.14rem;
    line-height: 200%;
}

.page{
    list-style: none;
    margin: 0 auto 0.4rem;
    padding-top: 0.24rem;
    border-top: 1px solid #ccc;
    text-align: center;
}
.page li{
    display: inline-block;
    margin-left: 5px;
    width: 0.4rem;
    height: 0.4rem;
    color: #999;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 0.4rem;
    cursor: pointer;
}
.page li:hover{
    color: #fff;
    background-color: #33cc66;
}
.page li:last-child:hover{
    color: #999;
    background-color: #fff;
}
.page .page-active{
    color: #fff;
    background-color: #33cc66;
}

.custom-radio{
    position: relative;
    width: 0.17rem;
    height: 0.17rem;
    margin-right: 0.09rem;
}
.login-form .custom-radio{
    vertical-align: middle;
}
.custom-radio > input{
    position: absolute;
    left: 0;
    width: 0.17rem;
    height: 0.17rem;
    opacity: 0;
}
.custom-radio > label{
    display: inline-block;
    z-index: 1;
    width: 0.17rem;
    height: 0.17rem;
    background: url("../img/raido_off.png") no-repeat;
    background-size: 100% 100%;
}
.custom-radio > input:checked + label{
    background: url("../img/raido_on.png") no-repeat;
    background-size: 100% 100%;
}